{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<script>
  (function () {
    var i, text, code, codes = document.getElementsByTagName("code");
    for (i = 0; i < codes.length; ) {
      code = codes[i];
      if (code.parentNode.tagName !== "PRE" && code.childElementCount === 0) {
        text = code.textContent;
        if (/^\$[^$]/.test(text) && /[^$]\$$/.test(text)) {
          text = text.replace(/^\$/, "\\(").replace(/\$$/, "\\)");
          code.textContent = text;
        }
        if (
          /^\\\((.|\s)+\\\)$/.test(text) ||
          /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$(.|\s)+\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)
        ) {
          code.outerHTML = code.innerHTML; // remove <code></code>
          continue;
        }
      }
      i++;
    }
  })();
</script>

<div style="text-align: center; margin: 10px auto 0 auto; font-size: 14px; color: var(--secondary);">

  {{- if .IsHome }}
    <div style="width: 300px; margin: 0 auto 10px auto;">
        <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=qO18jgyjlL3CO-gJI11XbW70ff6ytrO8SWMeefhDyIY&cl=ffffff&w=a"></script>
    </div>
  {{- end }}

  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv">
    Total visits: <span id="busuanzi_value_site_pv"></span>
  </span>
  &nbsp; | &nbsp;
  <span id="busuanzi_container_site_uv">
    Visitors: <span id="busuanzi_value_site_uv"></span>
  </span>

</div>